@charset 'utf-8';
@import './common.scss';
@mixin Class {
    .top{
        margin-bottom: 0;
    }

    .bottom{
        width: 100%;
        margin: .493333rem 0 .666667rem;
        display: flex;
        justify-content: space-around;
        img{
            width: 1.773333rem;
            height: 1.773333rem;
        }
    }
}
.classify{
    @include box;
    header{
        height: 1.4rem;
        display: flex;
        justify-content: space-around;
        align-items: flex-end; 
        button{
            font-size: .346667rem;
            color: $Color;
            background-color: $bgColor;
            border: 2px solid $borderColor;
            width: 1.64rem;
            height: .76rem;
            border-radius: .266667rem;
        }
        &>p{
            width: 4.333333rem;
            font-size: .346667rem;
            height: .693333rem;
            color: $Color;
            text-align: center;
            line-height: .693333rem;
        }
        div{
            width: 2.12rem;
            height: .746667rem;
            font-size: .346667rem;
            display: flex;
            justify-content: space-around;
            align-items: center;
            border: 2px solid $borderColor;
            img {
                width: .426667rem;
                height: .213333rem;
            }
        }
    }
    section{
        margin-top: .266667rem;
        width: 100%;
        .slideshow{
            height: 2.933333rem;
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            ul{
                width: 100%;
                font-size: 0;
                display: flex;
                justify-content: space-around;
                text-align: center;
                img{
                    width: 1.986667rem;
                    height: 1.986667rem;
                }
                p{
                    font-size: .346667rem;
                    color: $Color;
                }
            }
            .dot{
                width: 100%;
                display: flex;
                justify-content: center;
                div{
                    width: .253333rem;
                    height: .24rem;
                    background-color: $borderColor;
                    border-radius: 50%;
                    margin-right: .093333rem;
                }
                div:not(:first-child){
                    opacity: 0.7;
                }
            }
        }
        .cate{
            @include main;
            .top{
                .left{
                    img{
                        width: .72rem;
                        height: .56rem;
                    }
                }
            }
            @include Class;
        }
        .sport{
            @include main;
            .top{
                .left{
                    img{
                        width: .626667rem;
                        height: .773333rem;
                    }
                }
            }
            @include Class;
        }
        .movie{
            @include main;
            .top{
                .left{
                    img{
                        width: .706667rem;
                        height: .693333rem;
                    }
                }
            }
            @include Class;
        }
    }
}